@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

*{
    font-family: 'Rammetto One', cursive;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}



h1{
    color:#00dfc3;
    margin-bottom: 0;
}

h2{
    color: #2c444e;
    margin-top: 0;
}

img{
    
    max-width: 100vw;
}
p{
    color: #385a64;
    margin-top: 0;
    display: none;
}

/* Smartphone */
@media (min-width: 576px) { 
    h1{
        font-size: 3.8em;
    }
    h2{
        font-size: 2em;
    }
}

/* Tablet */
@media (min-width: 769px) { 
    h1{
        font-size: 4.8em;
    }
    h2{
        font-size: 2.5em;
    }    
}

/* PC */
@media (min-width: 1200px) { 
    img{
        height: 60vh;
    }
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 1.7em;
    }
    p{
        display: block;
    }
 }